/* Apply styles to the App container */
.App {
  text-align: center;
  max-width: 600px; 
  margin: 0 auto; 
}
/* Apply styles to the Display */
.CalcuDisplay {
  color: white;
  font-size: 60px;
  background-color: black;
  text-align: right;
  padding: 10px; 
}

/* Apply styles to the Buttons */
.CalcuButton {
  justify-content: center; 
  align-items: center; 
  font-size: 45px;
  width: 25%; 
}

/* Apply styles to the Container */
.ButtonContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
}

.NameButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 25px; /* Set the height of the container to 100% to fill the parent */
}